        <link rel="stylesheet" href="../textContainer.css">
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <script type="text/javascript" src="../scripts/textContainer.js"></script>
<div id="MainDiv">
<div class="textContainer">
    <div class="head">
    <h3>The start</h3>
    <div class="containerInfo">[click to expand]</div>
    </div>
    <div class="content">
    <p>You wonder why this <strong>pointless</strong> website is even online? Great question, really.</p>
    <p>Well, for now it is just a way for me, the programer, to get some experience in web development.</p>
    <p>It might, however, turn into a personal site for my CV or maybe even a game! </p>
    </div>
</div>
</div>
