body {
    background: grey;
    margin: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#NavBar{
    background: black;
    padding: 7px;
    color: white;
    font: bold;
}

#NavBar a {
    color: white;
}

#MainDiv{
    background: grey;
    display: inline-block;
    text-align: center;
    width: 85%;
    /*
    height: 800px;
    */
    height: 100vh; /* 100% from browser (body) height*/
    padding: 0px;
}

/*
#######################
SIDEBAR RELATED
#######################
*/
#SideBar{
    background: #5C8AF7;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 150px;
    padding: 0px;
    text-align: center;  
    border: 3px solid black;
}
#SideBar #ProfilePic{
    margin-left: auto ;
    margin-right: auto ;
    background-color: white;
    height: 80px;
    width: 80px;
    border: 4px solid grey;
    border-radius: 2px;
}


/* test object*/
#BigBox{
    background: black;
    color: white;
    margin: 50px;
    height: 200px;
}