/* prevents page jumping; always shows scrollbar*/
html {
    overflow-y: scroll; 
}

body {
    background: grey;
    margin: 0px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*
#######################
HEADER RELATED
#######################
*/
#NavBar{
    background: black;
    padding: 7px;
    color: white;
    font: bold;
}

#NavBar a {
    color: white;
}

/*
#######################
MAINPAGE RELATED
#######################
*/

#MainDiv{
    /*background: grey;*/ /*REDUNDANT*/
    display: inline-block;
    text-align: center;
    /*width: 100%;*/
    width: calc(100% - 156px);
    /*height: calc(100vh - ; /* 100% from browser (body) height*/
    padding: 0px;
}

/*
#######################
TEXTCONTAINER RELATED
#######################
*/

#MainDiv .textContainer{
    display: block;
    margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 0px;
} 

#MainDiv .textContainer>.head{
    background-color: #474747;
    margin: 0px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: left;
}

/* get rid of margin from the heading*/
#MainDiv .textContainer>.head>h3{
    display: inline-block;
    margin: 0px;
    padding: 5px 40px 5px 40px; 
}

#MainDiv .textContainer>.head>.containerInfo{
    margin-top: 8px;
    margin-right: 15px;
    float: right;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: grey;
    font-size: 12px;
}

#MainDiv .textContainer .content{
    /*display: inline-block;*/ /*if smaller boxes are desirable*/
    /*display: block;*/
    display: none;
    text-align: left;
    width: auto;
    padding: 5px 40px 5px 40px; 
    background-color: #aaaaaa;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    margin: 0px;
}

#MainDiv .textContainer img{
    height: 50px;
}


#MainDiv .textContainer a{
    color: white;
}
/*
#######################
SIDEBAR RELATED
#######################
*/
#SideBar{
    background: cadetblue;
    position: fixed;
    top: 0;
    right: 0;
    height: calc(100vh - 6px);
    width: 150px;
    padding: 0px;
    text-align: center;  
    border: 3px solid black;
}
#SideBar #ProfilePic{
    margin-left: auto ;
    margin-right: auto ;
    background-color: white;
    height: 80px;
    width: 80px;
    border: 4px solid grey;
    border-radius: 2px;
}


/* test object*/
#BigBox{
    background: black;
    color: white;
    margin: 50px;
    height: 200px;
}